/*   ------------------------------------  comman styling   ------------------------------------   */
*{
    border: 0;
    padding: 0;
    margin: 0;
    color: white;
}

/* stylign the h1,h2,button useed in the game  */
h1,h2,button{
    font-size: larger;
    background:linear-gradient(to right, red, orange);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
    text-shadow: 0.5px 5px 5px red;
    -webkit-text-stroke: 0.2px white;
}
/* provide some animation to them */
@keyframes shine{
    to{
        background-position: -200% center;
    }
}
/*   ------------------------------------   comman styling end !   ------------------------------------    */


/*   ------------------------------------   body styling    ------------------------------------   */
body{
    padding:1rem 1rem;
    height: 120vh;
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-image: url("../assets/cardbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*   ------------------------------------   body styling End !   ------------------------------------   */


/*   ------------------------------------   nav styling started    ------------------------------------  */
nav{
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

/* nav logo styling  */
nav .logo{
    height:100%;
    min-width: 9vh;
    width: 9vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 8px 15px rgba(255, 0, 0, 0.943);
}

/* nav logo image styling  */
nav .logo img{
    height:100%;
    width: 100%;
}
 
/* .scoreboard of the player nav area  */
nav .scoreboard{
    width:100%;
    margin-left: 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* score borde which show the best time of complete game */
.scoreboard .besttime{
    margin-right: 0.5rem;
}

/* socre board show the best move to complete the game  */
.scoreboard .bestmoves{
    margin-left: 0.5rem;
}
/*   ------------------------------------   nav styling end !    ------------------------------------  */


/*    ------------------------------------  game board styling start     ------------------------------------  */
/* game board styling  */
.gameboard{
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* gmae board score which shoe=w the ccurrent player score in real time  */
.gameboard .scoreboard{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid orange;
    border-left: 0;
    border-right: 0;
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 1px 4px 40px red;
}

/* score board which show best time in real time  */
.gameboard .scoreboard .bestmoves,.gameboard .scoreboard .besttime{
    height:3rem;
    display: flex;
    align-items: center;
}
 
/* styling the message box  */
.gameboard .scoreboard .bestmoves h2,.gameboard .scoreboard .besttime h2{
    height: 100%;
    display: flex;
    align-items: center;
}

/* styling the ccard container of the board containg all card and message of the game */
.gameboard .cards{
    margin-top: 2rem;
    width: 80vmin;
    height: 80vmin;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

/* styling the card  */
.gameboard .card{
    width: 12vmin;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 8px 15px rgba(255, 0, 0, 0.943);
}

/* card hover effects  */
.gameboard .card:hover{
    cursor: pointer;
    width: 13vmin;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1.5px 8px 15px rgba(255, 0, 0, 0.543);
}

/* card after effect to playe more style with cards  */
.gameboard .card::after{
    position: absolute;
    content: "";
    background-image:url("../assets/cardback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 4px;
    transition: 0.7s;
}

/* for the when user click on the card this provide animation to it */
.gameboard .show::after{
    width: 0;
    transition: 0.7s;
}

/* defining the card image size */
.gameboard .card img{
    height: 100%;
    width: 100%;
}

/* the message box styling which show the stat game button and the game over button  */
.result{
    position:sticky;
    height: 5rem;
    width: 100%;
    background-image: url("../assets/cardbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-radius: 10px;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    box-shadow: 1px 5px 14px red;
}

/* cards styling on the result meesage container (right side) */
.c1,.c2,.c3,.c4{
    position: absolute;
    height: 90%;
    right: 0;
    transform-origin: bottom left;
}

/* cards styling on the result message container (letf side)  */
.c5,.c6,.c7,.c8{
    position: absolute;
    height: 90%;
    left: 0;
    transform-origin: bottom right;
}

/* providing the angle to the styled card  */
.c1{
    transform: rotate(-10deg);
}
.c2{
    transform: rotate(-1deg);
}
.c3{
    transform: rotate(6deg);
}
.c4{
    transform: rotate(14deg);
}
.c5{
    transform: rotate(10deg);
}
.c6{
    transform: rotate(1deg);
}
.c7{
    transform: rotate(-6deg);
}
.c8{
    transform: rotate(-14deg);
}

/* styling the message box which caontain message  */
.board{
    height: 100%;
    width: 80%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.365);
    align-items: center;
    justify-content: center;
}

/* stylign the hover effect to the result container  */
.result .board:hover{
    cursor: pointer;
}
.result .board:hover button{
    font-size: 22px;
    cursor: pointer;
}
/*   ------------------------------------   game board styling end !    ------------------------------------   */
